<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

  <test thread-count="5" name="Chrome">
  <parameter name="selectBrowser" value="chrome"></parameter>
   <parameter name="userName" value="jagadeesh232708"></parameter>
   <parameter name="pass" value="jagadeeshjaggu"></parameter>
    <classes>
      <class name="tesgNGTestCases.Parameters"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Firefox">
   <parameter name="selectBrowser" value="chrome"></parameter>
   <parameter name="userName" value="jagadeesh232708"></parameter>
   <parameter name="pass" value="jagadeeshjaggu"></parameter>
    <classes>
      <class name="tesgNGTestCases.Parameters"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
